template(name='importerView')
    .container
        with importerDoc
            .ui.segment
                .panel-body
                    .ui.input
                        label.active(for='importerName') importer name
                        input#importerName(type='text' value=name)
                    .ui.input
                        label.active(for='importerTag') importer tag (included with all documents to facilitate future editing)
                        input#importerTag(type='text' value=importerTag)
                    unless uploading
                        .ui.input
                            span upload csv file
                            input(type='file' name='uploadCSV' accept='.csv' defaultValue='Upload')
                            p #{fileName}
                            p #{downloadUrl}
                    else
                        p
                            i.fa.fa-spin.fa-refresh
                            |uploading files...
                    if fieldsObject
                        table.table.table-striped
                            thead
                                tr
                                    th field name
                                    th first row data example
                                    th action
                            tbody
                                each fieldsObject
                                    tr
                                        td #{this.name}
                                        td #{this.firstValue}
                                        // td
                                        //     .input-field.col.s12
                                        //         select.browser-default.typeSelector(id="#{this.name}")
                                        //             option(value='', disabled='') Choose Data Type/Action
                                        //             option(value='1' selected="{{selectedDataType 1}}") Direct Tag
                                        //             option(value='2' selected="{{selectedDataType 2}}") Time/Date
                                        //             option(value='3' selected="{{selectedDataType 3}}") Geo
                                        //             option(value='4' selected="{{selectedDataType 4}}") Skip
                                        //         // label Pick Data Type
                                        td
                                            input.toggleTag(type="checkbox" id="#{this.name}" checked="#{this.tag}")
                                            label(for="#{this.name}") tag
                    // .row
                    //     .btn#testImporter Test Importer
                    if testDoc
                        .ui.segment
                            .ui.header test doc
                            .panel-body
                                each testDoc.tags
                                    .ui.button= this
                    #saveImporter.ui.primary.button save
                    if importerTag
                        #runImporter.ui.green.button run importer
                    #deleteImporter.ui.button delete
            // Editor
            // .card
            //     .card-content
            //         #cleanNonStringTags.btn Clean Non String Tags From My Docs
            //         #alchemize.btn Autotag all my docs
            .ui.segment
                .ui.header bulk editor
                .panel-body
                    p tag selector: #{importerTag}
                    // .field-input.col.s6
                    //     label.active(for='tagSelector' va)  Tag Selector
                    //     input#tagSelector(type=text value="{{$.Session.get 'query'}}" autofocus='')
                    #findDocsWithTag.ui.button find docs with tag
                    // .form-inline
                    //     .ui.input
                    //         label.active(for='importAmount') Import Amount
                    //         input#importAmount(type='number' value=importAmount)
                    if $.Session.get 'resultCount'
                        .ui.segment
                            .panel-body
                                p result count: {{$.Session.get 'resultCount'}}
                                .row
                                    if docTagCloudFromImporter
                                        each docTagCloudFromImporter
                                            button.btn.btn-link(disabled="disabled")
                                                span #{this.name}
                                                small #{this.count}
                                #deleteQueryDocs.btn.btn-danger delete query docs
                    // .row
                    //     .firstDocFromQuery First Result From Query


template(name='importerList')
    .container
        #addImporter.ui.button add importer
        .ui.segment
            .ui.header my importers
            ul.list-group
                each importers
                    a.list-group-item.editImporter(href='#') #{this.name}
        .ui.segment
            .ui.header import tweets
            .ui.input
                .ui.label.active(for='importTweets') search twitter user
                input#importTweets(type='text')
