template(name='message')
    .comment
        .content
            a.author #{message.username}
            .metadata
                span.date #{when}
            .text
                | #{message.text}
            .actions
                a.reply Reply

// template(name='userPill')
//     span(class="label") #{username}

template(name='messageList')
    .ui.input
        input#addMessage(type='text' autofocus='' placeholder='Add Message')
    .ui.messages
        each messages
            +message message=this