template(name='cloud')
    .ui.center.aligned.bottom.attached.segment
        .ui.form
            .inline.fields
                // label How often do you use checkboxes?
                .field
                    .ui.radio.checkbox
                        input(type='radio', name='frequency', checked='checked')
                        label My Docs
                .field
                    .ui.radio.checkbox
                        input(type='radio', name='frequency')
                        label My Upvoted
                .field
                    .ui.radio.checkbox
                        input(type='radio', name='frequency')
                        label My Downvoted
        .ui.left.icon.input
            i.search.icon
            input#search(type='text' placeholder="Search/'clear'" autofocus='')
        if $.Session.get 'selected_user'
            .ui.button.grey.selected_user_button
                i.user.icon
                |by #{selected_user}
        if $.Session.get 'upvoted_cloud'
            .ui.button.grey.upvoted_cloud_button
                i.thumbs.up.icon
                | #{upvoted_cloud}
        if $.Session.get 'downvoted_cloud'
            .ui.button.grey.downvoted_cloud_button
                i.thumbs.down.icon
                | #{downvoted_cloud}
        if selectedTags
            if currentUser
                #bookmarkSelection.ui.grey.icon.button
                    i.bookmark.icon
                #newFromSelection.ui.grey.icon.button
                    i.plus.icon
            #clearTags.ui.grey.big.icon.button
                i.remove.icon
        if selectedTags
            each selectedTags
                a.ui.grey.big.button.unselectTag
                    strong #{this}
        each globalTags
            .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
                small #{this.count}

