template(name='conversations')
    .ui.container
        #create_conversation.ui.basic.labeled.icon.button
            i.plus.icon
            |Create Conversation
        each conversations
            +conversation


template(name='conversation')
    .ui.fluid.card
        .content
            .header
                if isOwner
                    each tags
                        .ui.basic.button.tag
                            i.remove.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.green.icon
                        input#addtag(type='text' autofocus='' placeholder='Add tag')
                else
                    i.tags.icon
                    each tags
                        .ui.large.compact.button.tag(class=tagClass) #{this}
            .description
                // h5.ui.header #{username}'s tags
        if currentUser
            unless isUser
                .extra.content
                    div Your common tags with #{username} (#{matchedtags.length})
                    each matchedtags
                        .ui.basic.label #{this}
                .extra.content
                    div Message #{username}:
                        .ui.small.input
                            input#text(type='sendMessage')
                    .ui.divided.list
                        each conversationMessages
                            .item
                                |#{this.body} #{this.when}
