template(name='conversations')
    .ui.container
        each conversations
            +conversation


template(name='conversation')
    .ui.fluid.card
        .content
            .header
                i.tags.icon
                each tags
                    .ui.large.compact.button.tag(class=tagClass) #{this}
            .description
                .ui.divided.list
                    each conversationMessages
                        .item
                            strong #{this.username}
                            |#{this.text} #{this.when}
            .extra.content
                if inConversation
                    .ui.small.input
                        input.addMessage(type='text' placeholder='Add Message')
                else
                    .ui.button.joinConversation Join Conversation

