template(name='docs')
    .ui.container
        .ui.cards
            each docs
                +view

template(name='view')
    .ui.fluid.card
        .content
            .header
                each tags
                    .ui.button.docTag(class=docTagClass)  #{this}
                .meta.right.floated
                    .ui.basic.large.label
                        | #{points} pts
                    .ui.huge.icon.button.voteUp(class=voteUpButtonClass)
                        i.thumbs.up.icon
                    .ui.huge.icon.button.voteDown(class=voteDownButtonClass)
                        i.thumbs.down.icon
            .description
                if body.length
                    +markdown
                        !{body}
        .extra.content
            span by #{username} [#{author.points}] #{when}
            if currentUser
                .ui.basic.button.cloneDoc
                    i.fork.icon
                    |Clone
                if isAuthor
                    .ui.basic.button.editDoc
                        i.blue.pencil.icon
                        |Edit
                    .ui.icon.basic.button.deleteDoc
                        // |Delete
                        i.red.trash.icon
