template(name='edit')
    with doc
        .ui.container
            .ui.segment
                div
                    each tags
                        .ui.button.docTag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#addTag(type='text' autofocus='' placeholder='Add Tag')
                if alchemy_tags.length
                    .ui.segment
                        .ui.header Suggested Tags (alchemy)
                        div
                            each unpicked_alchemy_tags
                                .add_alchemy_suggestion.ui.button #{this}
                        a#add_all_alchemy Add All Alchemy Suggestions
                if yaki_tags.length
                    .ui.segment
                        .ui.header Suggested Tags (yaki)
                        div
                            each unpicked_yaki_tags
                                .add_yaki_suggestion.ui.button #{this}
                        a#add_all_yaki Add All Yaki Suggestions
                #alchemy_suggest.ui.basic.button Suggest Tags with AlchemyAPI
                #yaki_suggest.ui.basic.button Suggest Tags Yaki
                .ui.input
                    textarea#body
                        |#{body}
                .ui.hidden.divider
                #saveDoc.ui.large.green.button
                    i.check.icon
                    |Save
                #delete.ui.red.small.compact.button
                    i.remove.icon
                    |Delete
        .ui.modal
            .header Confirm Delete
            .content
              .meta Confirm?
              .description #{body}
            .actions
              .ui.button.cancel Cancel
              .ui.red.button.approve Delete
