
template(name='people')
    +atNavButton
    if currentUser
        +profile
    +cloud
    .ui.container
        each people
            +person



template(name='person')
    .ui.segment
        img.ui.avatar.image(src=image)
        h3.ui.header
            |#{username}
        each tags
            .ui.label.person_tag(class=person_tag_class) #{this}        
        if active_location
            h5.ui.header Active Location: 
            .ui.label.active_location(class=person_tag_class) #{active_location}