
template(name='people')
    if currentUser
        +profile
    else
        .ui.large.basic.label
            +loginButtons
    +cloud
    .ui.container
        each people
            +person



template(name='person')
    .ui.segment
        h3.ui.header
            img.ui.small.circular.image(src=picture)
            |#{username}
        each cloud
            .ui.large.label.person_tag(class=person_tag_class) #{name} #{count}  
        // if currentUser
        //     .ui.header Your Common Tags with #{username}
        //     each person_intersection
        //         .ui.label.person_tag(class=person_tag_class) #{this}
        .ui.header Your Tags of #{username}
        each my_tags_of_user
            .ui.basic.compact.button.remove_review_tag 
                i.remove.icon
                strong #{this}  
        .ui.input
            input.tag_user(type='text' placeholder="Tag #{username}" )