
template(name='people')
    if currentUser
        +profile
    else
        +loginButtons
    +cloud
    .ui.container
        each people
            +person



template(name='person')
    .ui.segment
        h3.ui.header
            img.ui.small.circular.image(src=picture)
            |#{username}
        each tags
            .ui.label.person_tag(class=person_tag_class) #{this}        
        // if active_location
        //     h5.ui.header Active Location: 
        //     .ui.label.active_location(class=person_tag_class) #{active_location}