template(name='profile')
    with user
        .ui.container
            .ui.segment
                .ui.header Your Name
                .ui.left.icon.input
                    i.user.icon
                    input#username(type='text' value=username)
            .ui.segment
                .ui.header Tag Yourself
                each tags
                    .ui.basic.button.tag
                        i.remove.icon
                        |#{this}
                .ui.left.icon.input
                    i.add.green.icon
                    input#addtag(type='text' autofocus='')
                .ui.header Matched People from Self Tags
                each matchedUsersList
                    .ui.divided.list
                        .item
                            strong #{this.matchedUser} (#{this.length}):
                            each this.tagIntersection
                                .ui.basic.label #{this}
            .ui.segment
                if authored_cloud
                    .ui.header Your Authored Cloud
                    each authored_cloud
                        .ui.label
                            |#{this.name}
                            small #{this.count}
                if upvoted_cloud
                    .ui.header Your Upvoted Cloud
                    each upvoted_cloud
                        .ui.label
                            |#{this.name}
                            small #{this.count}
                if downvoted_cloud
                    .ui.header Your Downvoted Cloud
                    each downvoted_cloud
                        .ui.label
                            |#{this.name}
                            small #{this.count}
