template(name='profile')
    .ui.secondary.segment
        .ui.accordion
            .active.title
                i.dropdown.icon
                strong Profile
            .active.content
                .ui.form
                    .inline.field
                        img.ui.small.centered.circular.image(src=currentUser.picture)
                        label Your Picture
                        input#picture(type='text' value=currentUser.picture)
                    .inline.field
                        label Your Name
                        input#username(type='text' value=currentUser.username)
                    .inline.field 
                        label Contact Info (shown to friends)
                        .ui.left.icon.input
                            i.user.icon
                            input#contact(type='text' value=currentUser.contact)
                    .inline.field
                        label Your Tags
                        each currentUser.tags
                            .ui.large.compact.button.my_tag
                                i.remove.icon
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            +inputAutocomplete settings=settings id="add_tag" class="" autocomplete="off" placeholder='Add Tag'
                            // input#add_tag(type='text' autofocus='' placeholder='Add Tag')
                    .inline.field
                        label Location Tags
                        each currentUser.location_tags
                            .ui.compact.button.check_in
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            +inputAutocomplete settings=location_settings id="location_tag" class="" autocomplete="off" placeholder='Check In'
                            // input#add_tag(type='text' autofocus='' placeholder='Add Tag')
                    if currentUser.active_location
                        .ui.header Active Location
                        .ui.primary.button.check_out 
                            i.remove.icon
                            |#{currentUser.active_location}
                .ui.divider
                h5.ui.header Top Matches
                .ui.list
                    each user_matches
                        if length
                            .item
                                strong #{matched_user} #{length}
                                each tag_intersection
                                    .ui.small.compact.button.match_tag(class=match_tag_class) #{this}




template(name='tag_result')
    .ui.small.compact.button #{name}



