head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='a_wkR8C0AVtkWB7iJbBpuOuRuAxl1-FY0H6KPZJ87JQ')
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")


body
    +layout


template(name='layout')
    // +matches
    if currentUser
        +profile
    +cloud
    +people
    
    
template(name='profile')
    .ui.container
        .ui.segment
            .ui.form
                .inline.field
                    label Your Name
                    input#username(type='text' value=currentUser.username)
                // .ui.left.icon.input
                    // i.user.icon
                // .inline.field 
                //     label Contact Info (only shown to friends)
                //     input#contact(type='text' value=currentUser.contact)
                // .ui.input
                .inline.field
                    label Your Tags
                    each my_tags
                        .ui.small.compact.button.my_tag
                            i.remove.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        +inputAutocomplete settings=settings id="add_tag" class="" autocomplete="off" placeholder='Add Tag'
                        // input#add_tag(type='text' autofocus='' placeholder='Enter Tag')
            // .ui.divider
            // .ui.header Top Matches
            // each user_matches
            //     strong #{matched_user} #{length}
            //     each tag_intersection
            //         .ui.basic.label #{this}
            //     .ui.fitted.hidden.divider

template(name='cloud')
    .ui.center.aligned.basic.segment
        .ui.large.basic.label    
            +loginButtons
        // .ui.basic.circular.label #{currentUser.points}
        // .ui.hidden.fitted.divider
        .ui.left.icon.small.input
            i.search.icon
            +inputAutocomplete settings=settings id="search" class="" autofocus='' autocomplete="off"
        .ui.hidden.fitted.divider
        if selected_tags
            #clearTags.ui.primary.icon.compact.button
                i.remove.icon
            each selected_tags
                a.ui.primary.compact.button.unselectTag
                    strong #{this}
        // .ui.hidden.fitted.divider
        // if Template.subscriptionsReady
        each globalTags
            .ui.compact.button.selectTag(class=cloud_tag_class) #{this.name}
            // .ui.button.compact.selectTag #{this.name}
                // small #{this.count}




template(name='tag_result')
    .ui.small.compact.button #{name}


template(name='people')
    .ui.container
        each people
            +person


template(name='person')
    .ui.segment
        .header
            i.user.icon
            |#{username}
            if isUser
                |(you)
        // .description
        //     h5.ui.header #{username}'s List
        //     each list
        //         .ui.label.user_tag(class=tag_class) #{this}
        .description
            h5.ui.header #{username}'s Cloud
            each cloud
                .ui.label.user_tag(class=cloud_tag_class) #{name} (#{count})
        if currentUser
            .ui.divider
            h5.ui.header Your tags of #{username}
            each review_tags
                .ui.label.review_tag(class=tag_class) #{this}
            .ui.input
                input.review_user(type='text' placeholder="Tag #{username}")
