head
    title Facet
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

template(name='layout')
    +Template.dynamic template=cloud
    +Template.dynamic template=main


template(name='cloud')
    #cloud.ui.basic.segment.container
        if currentUser
           if selected_tags
                #add.ui.circular.primary.icon.button
                    i.plus.icon
            else
                #add.ui.circular.basic.icon.button
                    i.plus.icon
        .ui.large.basic.circular.label
            +loginButtons
        .ui.hidden.divider
        // .ui.left.icon.input
        //     i.search.icon
        //     +inputAutocomplete settings=settings id="search" class="" autofocus='' autocomplete="off" placeholder=''
        if selected_tags
            #clear_tags.ui.primary.icon.compact.button
                i.remove.icon
            each selected_tags
                .unselect_tag.ui.primary.compact.button
                    strong #{this}
        each all_tags
            .ui.compact.button.select_tag(class=cloud_tag_class) #{this.name}
                // small #{this.count}
                // small [#{this.index}]
        // if one_left
        //     span #{last_doc._id}
        //     .actions
        //         if is_mine
        //             a.ui.icon.circular.button(href="/edit/#{last_doc._id}")
        //                 i.pencil.icon.icon
        //         else
        //             // span by #{author.username} [#{author.points}]
        //             .ui.icon.circular.compact.button.vote_up(class=vote_up_button_class): i.thumbs.up.icon
        //             // .ui.circular.basic.label Points: #{points}
        //             .ui.icon.circular.compact.button.vote_down(class=vote_down_button_class): i.thumbs.down.icon


template(name='docs')
    .ui.text.container
        each docs
            .ui.divided.basic.segments
                +view


template(name='view')
    .ui.center.aligned.basic.segment
        .content
            each tags
                .ui.compact.small.button.tag(class=tag_class) #{this}
        .actions
            if is_author
                .edit.ui.icon.circular.button
                    i.pencil.icon.icon
            else
                // span by #{author.username} [#{author.points}]
                .ui.icon.circular.compact.button.vote_up(class=vote_up_button_class): i.thumbs.up.icon
                // .ui.circular.basic.label Points: #{points}
                .ui.icon.circular.compact.button.vote_down(class=vote_down_button_class): i.thumbs.down.icon

                    
template(name='tag_result')
    .ui.small.compact.button #{name}
