head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='a_wkR8C0AVtkWB7iJbBpuOuRuAxl1-FY0H6KPZJ87JQ')
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")


body
    +layout


template(name='layout')
<<<<<<< HEAD
    if is_editing
        +edit
    else
        +cloud
        // +docs
        +matches
=======
    if currentUser
        +profile
    +cloud
    +people
>>>>>>> 5bbbc3681715db2f2df98439340791e1bf26ffe6

template(name='cloud')
    .ui.center.aligned.basic.segment
        .ui.large.basic.label    
            +loginButtons
        // .ui.basic.circular.label #{currentUser.points}
        // .ui.hidden.fitted.divider
        .ui.left.icon.small.input
            i.search.icon
            +inputAutocomplete settings=settings id="search" class="" autofocus='' autocomplete="off"
        .ui.hidden.fitted.divider
        if selected_tags
            #clearTags.ui.primary.icon.compact.button
                i.remove.icon
            each selected_tags
                a.ui.primary.compact.button.unselectTag
                    strong #{this}
        // .ui.hidden.fitted.divider
        // if Template.subscriptionsReady
        each globalTags
            // .ui.compact.button.selectTag(class=cloud_tag_class) #{this.name}
            .ui.button.compact.selectTag #{this.name}
                small #{this.count}

template(name='tag_result')
    .ui.small.compact.button #{name}


template(name='profile')
    .ui.container
        .ui.segment
            // div Your Name
            div
                // .ui.left.icon.input
                //     i.user.icon
                //     input#username(type='text' value=user.username)
                each currentUser.tags
                    .ui.basic.compact.button.tag
                        i.remove.icon
                        |#{this}
<<<<<<< HEAD
                .ui.left.icon.input
                    i.add.icon
                    input#addTag(type='text' autofocus='' placeholder='Enter Tag')
            .ui.hidden.divider
            if tags
                #saveDoc.ui.large.green.button
                    i.check.icon
                    |Save

template(name='tag_result')
    .ui.small.compact.button #{name}


template(name='matches')
    .ui.container
        .ui.header My Tag List
        each currentUser.tag_list
            .ui.label #{this}
        // .ui.header My Tag Cloud
        // each currentUser.tag_cloud
        //     .ui.label #{name} #{count}
        .ui.header User Matches
        each user_matches
            h5.ui.header #{matched_user} #{length}
            each tag_intersection
                .ui.label #{this}        
        // .ui.header Other People
        // each other_people
        //     h5.ui.header #{username}
        //     .ui.header List
        //     each tag_list
        //         .ui.label #{this}
        //     .ui.header Cloud
        //     each tag_cloud
        //         .ui.label #{name} #{count}
=======
                .ui.left.icon.small.input
                    i.add.green.icon
                    input#add_tag(type='text' autofocus='' placeholder='Tag Yourself')
            // .ui.header Your Company
            // .ui.left.icon.input
            //     i.building.icon
            //     input#company(type='text' value=user.company)
            // div Your Tags
            // div Matched People
            // .ui.header Matched People
            // each matchedUsersList
            //     .ui.list
            //         .item
            //             strong #{this.matchedUser} (#{this.length}):
            //             each this.tagIntersection
            //                 | #{this}, &nbsp;


template(name='people')
    .ui.container
        .ui.cards
            each people
                .ui.card
                    +person


template(name='person')
    .ui.card
        .content
            .header
                i.user.icon
                |#{username}
                if isUser
                    |(you)
                // if currentUser
                //     unless isUser
                //         .ui.small.basic.compact.button.converseWithUser
                //             i.comment.icon
                //             |Converse
            .description
                // h5.ui.header #{username}'s tags
                each tags
                    .ui.compact.button.tag(class=tag_class) #{this}
        if currentUser
            unless isUser
                .extra.content
                    div Your common tags with #{username} (#{matchedtags.length})
                    each matchedtags
                        .ui.basic.label #{this}
                    // div Message #{username}:
                    //     .ui.small.input
                    //         input#text(type='sendMessage')
                    // .ui.divided.list
                    //     each conversationMessages
                    //         .item
                    //             |#{this.body} #{this.when}
>>>>>>> 5bbbc3681715db2f2df98439340791e1bf26ffe6
