head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='a_wkR8C0AVtkWB7iJbBpuOuRuAxl1-FY0H6KPZJ87JQ')
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")


body
    +layout


template(name='layout')
    if is_editing
        +edit
    else
        +cloud
        +matches
        +docs

template(name='cloud')
    .ui.center.aligned.basic.segment
        if currentUser
            .ui.left.icon.input
                i.plus.icon
                input#add(type='text' autofocus='' placeholder='Add')
        .ui.large.basic.label    
            +loginButtons
        // .ui.basic.circular.label #{currentUser.points}
        // .ui.hidden.fitted.divider
        .ui.left.icon.small.input
            i.search.icon
            +inputAutocomplete settings=settings id="search" class="" autofocus='' autocomplete="off"
        .ui.hidden.fitted.divider
        if selected_tags
            #clearTags.ui.primary.icon.compact.button
                i.remove.icon
            each selected_tags
                a.ui.primary.compact.button.unselectTag
                    strong #{this}
        // .ui.hidden.fitted.divider
        // if Template.subscriptionsReady
        each globalTags
            // .ui.compact.button.selectTag(class=cloud_tag_class) #{this.name}
            .ui.button.compact.selectTag #{this.name}
                small #{this.count}

template(name='docs')
    .ui.container
        h4.ui.header Posts
        each docs
            +view

template(name='view')
    .ui.segment
        each tags
            .ui.small.compact.button.doc_tag(class=doc_tag_class) #{this}
        if currentUser
            .content
                span by #{username}
                if isAuthor
                    .ui.button.icon.edit_doc
                        i.blue.pencil.icon
                    .delete.ui.red.icon.right.floated.button
                        i.remove.icon
                // else
                //     .ui.icon.button.vote_up(class=vote_up_button_class): i.thumbs.up.icon
                //     .ui.icon.button.vote_down(class=vote_down_button_class): i.thumbs.down.icon
                // .ui.basic.circular.label #{points}
                // span #{points}

template(name='edit')
    with doc
        .ui.segment
            div
                each tags
                    .ui.compact.button.docTag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.input
                    i.add.icon
                    input#addTag(type='text' autofocus='' placeholder='Enter Tag')
            .ui.hidden.divider
            if tags
                #saveDoc.ui.large.green.button
                    i.check.icon
                    |Save

template(name='tag_result')
    .ui.small.compact.button #{name}


template(name='matches')
    .ui.container.segment
        if currentUser
            // h4.ui.header My Tag List
            // each currentUser.tag_list
            //     .ui.label #{this}
            h5.ui.header My Tag Cloud
            each currentUser.tag_cloud
                .ui.small.compact.button.my_tag(class=my_tag_class) #{name} #{count}
            h4.ui.header User Matches
            each user_matches
                div
                    strong #{matched_user} #{length}
                    each tag_intersection
                        .ui.label #{this}        
            // .ui.header Other People
            // each other_people
            //     h5.ui.header #{username}
            //     .ui.header List
            //     each tag_list
            //         .ui.label #{this}
            //     .ui.header Cloud
            //     each tag_cloud
            //         .ui.label #{name} #{count}
        else
            | Log in to match