template(name='people')
    .ui.container
        each people
            +person


template(name='person')
    .ui.fluid.card
        .content
            .header
                i.user.icon
                |#{username}
            .description
                h4.ui.header Self Tags
                each tags
                    .ui.compact.button.userTag(class=userTagClass) #{this}
                h4.ui.header Other's Tags
                each tagCloud
                    .ui.compact.button.userTag(class=userTagClass)
                        |#{this.name}
                        small #{this.count}

        unless isUser
            if currentUser
                .extra.content
                    if hasTagged
                        p My Tags
                        each myTags
                            .ui.basic.compact.button.removeMyTag
                                i.remove.icon
                                |#{this}
                        .ui.left.icon.input
                            i.tag.icon
                            input.addTag(type='text' placeholder='Add Tag')
                    else
                        .ui.basic.button.tagUser Describe Person
                    // | Common tags with #{username} (Match Points: #{upVotedMatchCloud.totalCount})
                    // div
                    //     each upVotedMatchCloud.cloud
                    //         .ui.basic.label #{this.tag} #{this.min}
