template(name='people')
    .ui.container
        each people
            +person


template(name='person')
    .ui.fluid.card
        .content
            .header
                i.user.icon
                |#{username}
                if isUser
                    |(you)
                if currentUser
                    unless isUser
                        .ui.small.basic.compact.button.converseWithUser
                            i.comment.icon
                            |Converse
            .description
                // h5.ui.header #{username}'s tags
                each tags
                    .ui.compact.button.tag(class=tagClass) #{this}
        if currentUser
            unless isUser
                .extra.content
                    div Your common tags with #{username} (#{matchedtags.length})
                    each matchedtags
                        .ui.basic.label #{this}
                    // div Message #{username}:
                    //     .ui.small.input
                    //         input#text(type='sendMessage')
                    // .ui.divided.list
                    //     each conversationMessages
                    //         .item
                    //             |#{this.body} #{this.when}
