template(name='person')
    .ui.fluid.card
        .content
            .header
                i.user.icon
                |#{username}
            .description
                h5.ui.header #{username}'s Cloud
                each authoredCloud
                    .ui.large.compact.button.userTag(class=userTagClass)
                        |#{this.name}
                        small #{this.count}
                h5.ui.header #{username}'s Thoughts
                .ui.list
                    each personWants
                        .item
                            each tags
                                .ui.compact.small.button(class=userDocTagClass) #{this}
                div Your common tags with #{username} (Match Points: #{upVotedMatchCloud.totalCount})
                    each upVotedMatchCloud.cloud
                            .ui.basic.label #{this.tag} #{this.min}]