template(name='profile')
    .ui.container
        .ui.segment
            .ui.header My Interest Cloud (click on tags to filter)
            if selectedTags
                #clearTags.ui.primary.big.compact.icon.button
                    i.remove.icon
            if selectedTags
                each selectedTags
                    a.ui.primary.big.compact.button.unselectTag
                        strong #{this}
            each globalTags
                .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
                    small #{this.count}
        .ui.segment
            .ui.divided.list
                each myDocs
                    .item
                        each tags
                            .ui.basic.label #{this}
                        .ui.compact.icon.basic.button.deleteDoc
                            i.remove.red.icon
        .ui.segment
            .ui.header Top Matched People by Interest
            // .ui.divided.relaxed.list
                // each upVotedMatchCloud
                //     .item
                //         h3.ui.header #{this.matchedUser}
                //         h5.ui.header #{this.totalCount} Common Points
                //         each this.cloudIntersection
                //             .ui.basic.label #{this.tag} #{this.min}
            .ui.divided.list
                each authoredCloudMatches
                    .item
                        | #{this.username}
                        each userMatchAuthoredCloud
                            .ui.button
                                |#{this.name}
                                small #{this.count}
            .ui.header Top Matched User List
            each matchedUsersList
                .ui.divided.list
                    .item
                        strong #{this.matchedUser} (#{this.length}):
                        each this.cloudIntersection
                            .ui.basic.label #{this}
