template(name='store')
    .ui.container
        .ui.cards
            each store_items
                +store_item

template(name='store_item')
    .ui.fluid.card
        .content
            .header
                each tags
                    .ui.compact.button.doc_tag(class=doc_tag_class)  #{this}
            .description
                +markdown
                    !{body}
        .extra.content
            span by #{username} #{when}
            if currentUser
                .ui.basic.compact.button.cloneDoc
                    i.fork.icon
                    |Clone
                if isAuthor
                    .ui.basic.compact.button.editDoc
                        i.blue.pencil.icon
                        |Edit
                    .ui.icon.basic.compact.button.deleteDoc
                        // |Delete
                        i.red.trash.icon
                .meta.right.floated
                    if can_buy
                        .ui.button.buy_item Buy for #{cost}