template(name='comments')
    .ui.comments
        .ui.dividing.header
            i.comments.icon 
            |#{comment_count} Comments
            .ui.left.icon.input
                i.plus.icon
                input.new_comment(type='text' placeholder='Comment')
        each comments
            +comment


template(name='comment')            
    .comment
        // a.avatar
        //     img(src='/images/avatar/small/matt.jpg')
        //     +avatar user=author shape="circle" size="extra-small" 
        .content
            strong.text #{text}
            .metadata by #{author.username} #{when}
                if is_author
                    i.large.link.remove.icon.delete_comment
                else
                    i.large.link.thumbs.up.icon.like_comment
            // .actions
                // a.reply Reply