template(name='person')
    .ui.fluid.card
        .content
            .header #{username}
            .description
                each tagCloud
                    .ui.large.compact.button.userTag(class=userTagClass)
                        |#{this.name}
                        small #{this.count}
        unless isUser
            if currentUser
                .extra.content
                    if hasTagged
                        p My Descriptors
                        each myTags
                            .ui.basic.compact.button.removeMyTag
                                i.remove.icon
                                |#{this}
                        .ui.left.icon.input
                            i.tag.icon
                            input.addTag(type='text' placeholder='Add Descriptor')
                    else
                        .ui.basic.button.tagUser Describe Person
                    // | Common tags with #{username} (Match Points: #{upVotedMatchCloud.totalCount})
                    // div
                    //     each upVotedMatchCloud.cloud
                    //         .ui.basic.label #{this.tag} #{this.min}