template(name='cloud')
    .ui.center.aligned.bottom.attached.segment
        +atNavButton
        if currentUser
            #mine.ui.basic.button
                i.user.icon
                |Mine
            //     #my_upvoted.ui.basic.button
            //         i.thumbs.up.icon
            //         |My Upvoted
            //     #my_downvoted.ui.basic.button
            //         i.thumbs.down.icon
            //         |My Downvoted
            //     #unvoted.ui.button(class=unvoted_button_class)
            //         i.edit.icon
            //         |Unvoted
            .ui.simple.dropdown.basic.button
                i.plus.icon
                span.text Add Doc
                i.dropdown.icon
                .menu
                    #addDoc.item
                        i.file.outline.icon
                        |Blank
                    .header From Bookmarks
                    each user.bookmarks
                        .item.addFromBookmark
                            each this
                                .ui.label #{this}
            .ui.simple.dropdown.basic.button
                i.bookmark.icon
                span.text Selection Bookmarks
                i.dropdown.icon
                .menu
                    each user.bookmarks
                        .item.selectBookmark
                            each this
                                .ui.label #{this}
        .ui.left.icon.input
            i.search.icon
            input#search(type='text' placeholder="Search/'clear'" autofocus='')
        if selectedTags
            if currentUser
                div
                    #bookmarkSelection.ui.basic.button
                        i.bookmark.icon
                        |Bookmark Selection
                    #newFromSelection.ui.basic.button
                        i.plus.icon
                        |Add Doc from Selection
        .ui.divider
        if $.Session.get 'selected_user'
            .ui.button.primary.selected_user_button
                i.user.icon
                |by #{selected_user}
        if $.Session.get 'upvoted_cloud'
            .ui.button.primary.upvoted_cloud_button
                i.thumbs.up.icon
                | #{upvoted_cloud}
        if $.Session.get 'downvoted_cloud'
            .ui.button.primary.downvoted_cloud_button
                i.thumbs.down.icon
                | #{downvoted_cloud}
        if selectedTags
            #clearTags.ui.primary.big.icon.button
                i.remove.icon
            each selectedTags
                a.ui.primary.big.button.unselectTag
                    strong #{this}
        each globalTags
            .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
                small #{this.count}

        // .ui.hidden.divider
        // |By Author:
        // if selectedUsernames
        //     #clearUsernames.ui.circular.primary.icon.button
        //         i.remove.icon
        //     each selectedUsernames
        //         a.ui.primary.circular.button.unselectUsername
        //             i.user.icon
        //             strong #{this}
        // each globalUsernames
        //     .ui.basic.circular.button.selectUsername
        //         i.user.icon
        //         |#{this.text}
        //         small #{this.count}
