template(name='docs')
    .ui.container
        .ui.cards
            each docs
                +view

template(name='view')
    // .ui.center.aligned.basic.basic.segment(class=viewSegmentClass)
    .ui.fluid.card
        .content
            .header
                each tags
                    .ui.large.compact.button.docTag(class=docTagClass)  #{this}
                .meta.right.floated
                    if isAuthor
                        .ui.basic.button.editDoc
                            i.blue.pencil.icon
                            |Edit
                        .ui.icon.basic.button.deleteDoc
                            // |Delete
                            i.red.trash.icon
        unless isAuthor
            if currentUser
                .extra.content
                    span by
                    .ui.circular.compact.button.authorFilterButton(class=authorFilterButtonClass)
                        i.user.icon
                        |#{username}
                    |#{when}
                .extra.content
                    p Common interests with #{username} (Match Points: #{upVotedMatchCloud.totalCount})
                    div
                        each upVotedMatchCloud.cloud
                            .ui.basic.label #{this.tag} #{this.min}
            else
                .extra.content
                    p Log in to vote and match with #{username}'s interests