

template(name='docs')
    +doc_cloud
    .ui.container
        each docs
            +doc


template(name='doc')
    .ui.fluid.card
        .content
            .header
                i.user.icon
                |#{author.username} (#{author.points})
                // if currentUser
                //     .ui.small.circular.icon.button.add_liked_person(class=like_button_class)
                //         i.thumbs.up.link.icon
                each tags
                    .ui.compact.small.button.doc_tag(class=doc_tag_class) #{this}
        if body
            .content
                |!{body}
        .content
            if is_author
                .ui.icon.button.edit_doc
                    i.pencil.icon
            .ui.label Post Points #{points}
            if currentUser
                .ui.button.clone_doc
                    i.fork.icon
                    |Clone
                .ui.icon.button.vote_up(class=vote_up_button_class): i.thumbs.up.icon
                .ui.icon.button.vote_down(class=vote_down_button_class): i.thumbs.down.icon
        .content
            .send_point.ui.button(class=send_point_button_class)
                i.share.icon
                |Send Point
            if can_retrieve_points
                .retrieve_point.ui.button
                    i.reply.icon
                    |Retrieve Point
                    | (#{current_user_donations} sent)
        //     if currentUser
        //         unless isAuthor
        //             p Common interests with #{author.username} (Match Points: #{upVotedMatchCloud.totalCount})
        //             div
        //                 each upVotedMatchCloud.cloud
        //                     .ui.basic.label #{this.tag} #{this.min}
        // .extra.content
        //     .ui.button.findTopDocMatches Find Top Matches
        //     p #{_id}
        //     each topDocMatches
        //         p #{this.docId}
        //         p #{this.intersectionTags}
        // .extra.content
        //     .select_user.ui.button(class=select_user_button_class)
        //         i.user.icon
        //         |View Docs by #{author.username}
        //     |#{author.username}'s Authored Tags
        //     each author.authored_cloud
        //         .ui.small.label(class=cloud_label_class)
        //             |#{this.name}
        //             small #{this.count}
        // .extra.content
        //     .author_upvotes.ui.button(class=author_upvotes_button_class)
        //         i.thumbs.up.icon
        //         | View Upvoted Docs by #{author.username}
        //     |#{author.username}'s Upvoted Tags
        //     each author.upvoted_cloud
        //         .ui.small.label(class=cloud_label_class)
        //             |#{this.name}
        //             small #{this.count}
        // .extra.content
        //     .author_downvotes.ui.button(class=author_downvotes_button_class)
        //         i.thumbs.down.icon
        //         | View Downvoted Docs by #{author.username}
        //     |#{author.username}'s Downvoted Tags
        //     each author.downvoted_cloud
        //         .ui.small.label(class=cloud_label_class)
        //             |#{this.name}
        //             small #{this.count}