template(name='edit')
    with doc
        .ui.container
            .ui.segment
                each tags
                    .ui.basic.button.docTag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.input
                    i.add.icon
                    input#addTag(type='text' autofocus='' placeholder='Add Tag')
                .ui.hidden.divider
                .ui.left.icon.input
                    i.map.icon
                    input#place(type='text' value=locationob.formatted_address placeholder='Add Address')
                .ui.icon.basic.button
                    i.link.remove.icon.clearAddress
                .ui.hidden.compact.divider
                .ui.left.icon.input
                    i.calendar.outline.icon
                    input#datetimepicker(type="text" value=dateTime placeholder='Add Date/Time')
                    .ui.icon.basic.button
                        i.link.remove.icon.clearDT
                .ui.hidden.divider

                .ui.input
                    textarea#body
                        |#{body}
                .ui.hidden.divider
                if tags.length
                    #saveDoc.ui.large.green.basic.button
                        i.check.icon
                        |Save
                #delete.ui.red.right.floated.basic.button
                    i.remove.icon
                    |Delete
        .ui.modal
            .header Confirm Delete
            .content
              .meta Confirm?
              .description #{body}
            .actions
              .ui.button.cancel Cancel
              .ui.red.button.approve Delete
