template(name='nav')
    .ui.segment
        // .item
        //     .ui.left.icon.input
        //         i.search.icon
        //         input#search(type='text', placeholder="Search")
        if currentUser
            // a.item(href='/profile' class="{{isActivePath '/profile'}}")
            .ui.item
                i.user.icon
                |#{user.username}'s Descriptors:
                each user.tagCloud
                    .ui.small.compact.button.userTag(class=userTagClass) #{this.name}
                        small #{this.count}
        +atNavButton


template(name='tagresult')
    .label.label-default #{name}
        small (#{count})
