template(name='importer_list')
    .ui.container
        #ce_login.ui.blue.button Login to Cloud Elements
        // #add_importer.ui.button
        //     a.ui.large.red.button
        //         i.plus.icon add
        // ul.list
        //     li.collection-header 
        //         h5.ui.header My Importers
        //     each importers
        //         a.collection-item.editImporter(href='#') #{this.name}

template(name='importer_view')
    .container
        with importer_doc
            // .card
            //     .card-content
            //         .card-title Import JSON
            //         .input-field
            //             label.active(for='methodinput') Method (GET or POST)
            //             input#methodinput(type='text' value=method)
            //         .input-field
            //             i.material-icons.prefix http
            //             label.active(for='urlinput') Url
            //             input#urlinput(type='text' value=url)
            //         .input-field
            //             label Data subkey
            //             input#subKey(type='text')
            //         if $.Session.get 'jsonResponse'
            //             +jsonView json=jsonData options=options
            //         .btn#runImporter Run
            .card
                .card-content
                    .input-field
                        label.active(for='importerName') Importer Name
                        input#importerName(type='text' value=name)
                    .input-field
                        label.active(for='immportTag') Importer Tag (included with all documents imported to facilitate future editing)
                        input#importTag(type='text' value=importTag)
                    unless uploading
                        .file-field.input-field
                            .btn
                                span Upload CSV File
                                input(type='file' name='uploadCSV')
                            .file-path-wrapper
                                input.file-path.validate(type='text')
                    else
                        p
                            i.fa.fa-spin.fa-refresh
                            |Uploading files...
                    if fieldsObject
                        table.responsive-table.striped
                            thead
                                tr
                                    th Field Name
                                    th First Row Data Example
                                    th Action
                            tbody
                                each fieldsObject
                                    tr
                                        td #{this.name}
                                        td #{this.firstValue}
                                        // td
                                        //     .input-field.col.s12
                                        //         select.browser-default.typeSelector(id="#{this.name}")
                                        //             option(value='', disabled='') Choose Data Type/Action
                                        //             option(value='1' selected="{{selectedDataType 1}}") Direct Tag
                                        //             option(value='2' selected="{{selectedDataType 2}}") Time/Date
                                        //             option(value='3' selected="{{selectedDataType 3}}") Geo
                                        //             option(value='4' selected="{{selectedDataType 4}}") Skip
                                        //         // label Pick Data Type
                                        td
                                            input.toggleTag(type="checkbox" id="#{this.name}" checked="#{this.tag}")
                                            label(for="#{this.name}") Tag
            .btn#runTest Test Importer
            if testRun
                .card-panel
                    .card-title Test Doc
                    .card-content
                        each testRunTags
                            .chip= this
            .btn#saveImporter Save
            .btn#deleteImporter
                i.material-icons delete