template(name='conversations')
    .ui.container
        each conversations
            +conversation


template(name='conversation')
    .ui.fluid.card
        .content
            .header
                |Conversation Topics:
                // .ui.horizontal.list
                each tags
                    .ui.large.compact.button.tag(class=tagClass) #{this}
                    // .item.tag(class=tagClass) #{this}
                div
                    |Participants: &nbsp;
                    .ui.horizontal.list
                        each participants
                            .item #{this}
            .description
                .ui.segment
                    .ui.divided.list
                        each conversationMessages
                            .item
                                strong #{this.author.username}:
                                |#{this.text}
                                .meta #{this.when}
        if currentUser
            .extra.content
                if inConversation
                    .ui.small.left.icon.input
                        i.plus.icon
                        input.addMessage(type='text' placeholder='Add Message')
                else
                    .ui.button.joinConversation Join Conversation
                .ui.basic.floated.right.button.createEvent
                    i.green.calendar.icon
                    |Create Event from Discussion

