template(name='events')
    .ui.container
        each events
            +event


template(name='event')
    .ui.fluid.card
        .content
            .header
                |Event Topics:
                each tags
                    .ui.compact.button.tag(class=tagClass) #{this}
                div
                    |Attendees: &nbsp;
                    .ui.horizontal.list
                        each attendees
                            .item #{this}
            .description
                if isHost
                    .ui.left.icon.small.input
                        i.calendar.outline.icon
                        input#datetimepicker(type="text" value=dateTime placeholder='Add Date/Time')
                        .ui.icon.basic.button.clearDT
                            i.red.remove.icon
                else
                    p Date: #{dateTime}
                .ui.basic.segment
                    .ui.divided.list
                        each eventMessages
                            .item
                                strong #{this.author.username}:
                                |#{this.text}
                                .meta #{this.when}
                    if attending
                        .ui.small.left.icon.transparent.input
                            i.plus.icon
                            input.addMessage(type='text' placeholder='Add Message')
        .extra.content
            if isHost
                .ui.basic.button.cancelEvent
                    i.red.remove.icon
                    |Cancel
            if currentUser
                if attending
                    .ui.basic.button.leave_event
                        i.red.minus.icon
                        |Leave
                else
                    .ui.button.basic.join_event
                        i.green.plus.icon
                        |Join
            else
                p Sign in to attend